.env
coverage
coverage.json
lcov.info
lcov*.info
typechain
results.sarif

# Typescript
*.tsbuildinfo
typechain-types

# yarn v1, node
node_modules

# Hardhat files
cache/
artifacts
forge-artifacts

# VS Code
.vscode

# Gemforge
gemforge.deployments.json